<div class="skj-dialog-custom-modifier-row skj-roll-dialog__detail skj-roll-dialog__detail--custom {{class}}" {{#if detailName}}data-runic-detail="{{detailName}}"{{/if}} {{#if hidden}}hidden{{/if}}>
  <label>{{label}}</label>
  <input type="text" name="{{reasonName}}" value="{{reasonValue}}" placeholder="{{reasonPlaceholder}}" />
  <input type="number" name="{{valueName}}" value="{{value}}" min="{{min}}" max="{{max}}" step="{{step}}" />
</div>
