<div class="skj-hotbar-inner {{#if collapsed}}skj-hotbar-collapsed{{/if}}" {{#unless actor}}hidden{{/unless}}>
{{#if actor}}
  <div
    class="skj-hotbar-layout"
    data-disposition="{{workflow.dispositionKey}}"
    style="--skj-quick-stage-size: {{quickAccessStageSize}}px; --skj-disposition-color: {{workflow.dispositionColor}}; --skj-disposition-glow-soft: {{workflow.dispositionGlowSoft}}; --skj-disposition-glow-strong: {{workflow.dispositionGlowStrong}}; --skj-disposition-label: {{workflow.dispositionLabelColor}}; --skj-disposition-label-weight: {{workflow.dispositionLabelWeight}};"
  >
    <section class="skj-actor-core" aria-label="{{actor.name}}">
      {{> "modules/aov-skjaldborg/templates/actor-hotbar/resources.hbs" }}

      {{> "modules/aov-skjaldborg/templates/actor-hotbar/portrait-quick-access.hbs" }}
    </section>

    <button
      type="button"
      class="skj-hotbar-collapse-toggle"
      data-action="toggleCollapse"
      data-hotbar-dock-handle
      aria-expanded="{{#if collapsed}}false{{else}}true{{/if}}"
      aria-label="{{localize 'AOV_SKJALDBORG.ActorHotbar.DockMove'}}"
      data-tooltip="AOV_SKJALDBORG.ActorHotbar.DockMove"
    >
      <i class="fa-solid {{#if collapsed}}fa-chevron-right{{else}}fa-chevron-left{{/if}}" inert></i>
    </button>

    <section class="skj-actor-actions" {{#if collapsed}}hidden{{/if}}>
      <div class="skj-hotbar-header-row">
        <nav class="skj-hotbar-tabs tabs" aria-label="{{localize 'AOV_SKJALDBORG.ActorHotbar.Navigation'}}">
          <a class="{{tabs.combat.cssClass}}" data-action="tab" data-group="sheet" data-tab="combat" data-tooltip="AOV_SKJALDBORG.ActorHotbar.Tabs.Combat"><i class="fa-solid fa-swords" inert></i></a>
          {{#if showWellbeingTab}}
            <a class="{{tabs.wellbeing.cssClass}}" data-action="tab" data-group="sheet" data-tab="wellbeing" data-tooltip="AOV_SKJALDBORG.ActorHotbar.Tabs.Wellbeing"><i class="fa-solid fa-heart-pulse" inert></i></a>
          {{/if}}
          <a class="{{tabs.stats.cssClass}}" data-action="tab" data-group="sheet" data-tab="stats" data-tooltip="AOV_SKJALDBORG.ActorHotbar.Tabs.Stats"><i class="fa-solid fa-chart-simple" inert></i></a>
          <a class="{{tabs.skills.cssClass}}" data-action="tab" data-group="sheet" data-tab="skills" data-tooltip="AOV_SKJALDBORG.ActorHotbar.Tabs.Skills"><i class="fa-solid fa-list-check" inert></i></a>
          {{#if showEquipTab}}
            <a class="{{tabs.equip.cssClass}}" data-action="tab" data-group="sheet" data-tab="equip" data-tooltip="AOV_SKJALDBORG.ActorHotbar.Tabs.Equip"><i class="fa-solid fa-toolbox" inert></i></a>
          {{/if}}
          {{#if showMagicTab}}
            <a class="{{tabs.magic.cssClass}}" data-action="tab" data-group="sheet" data-tab="magic" data-tooltip="AOV_SKJALDBORG.ActorHotbar.Tabs.Magic"><i class="fa-solid fa-wand-magic-sparkles" inert></i></a>
          {{/if}}
          {{#if showHistoryFamilyTab}}
            <a class="{{tabs.historyFamily.cssClass}}" data-action="tab" data-group="sheet" data-tab="historyFamily" data-tooltip="AOV_SKJALDBORG.ActorHotbar.Tabs.HistoryFamily"><i class="fa-solid fa-people-roof" inert></i></a>
          {{/if}}
          {{#if showMacroTab}}
            <a class="{{tabs.macros.cssClass}}" data-action="tab" data-group="sheet" data-tab="macros" data-tooltip="AOV_SKJALDBORG.ActorHotbar.Tabs.Macros"><i class="fa-solid fa-grid-2" inert></i></a>
          {{/if}}
        </nav>

        {{> "modules/aov-skjaldborg/templates/actor-hotbar/header-effects.hbs" }}
      </div>

      {{> "modules/aov-skjaldborg/templates/actor-hotbar/tab-body.hbs" }}
    </section>
  </div>
{{/if}}
</div>
