<div class="skj-combat-tracking-settings-form">
  <p class="hint">{{localize "AOV_SKJALDBORG.Settings.CombatTrackingMenu.Intro"}}</p>

  <fieldset>
    <legend>{{localize "AOV_SKJALDBORG.Settings.CombatTrackingMenu.Navigation.Name"}}</legend>
    <p class="hint">{{localize "AOV_SKJALDBORG.Settings.CombatTrackingMenu.Navigation.Hint"}}</p>

    <div class="form-group">
      <label>{{localize "AOV_SKJALDBORG.Settings.DynamicPlanningInitiative.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="dynamicPlanningInitiative" value="true" data-dtype="Boolean" {{checked dynamicPlanningInitiative}}>
      </div>
      <p class="hint">{{localize "AOV_SKJALDBORG.Settings.DynamicPlanningInitiative.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "AOV_SKJALDBORG.Settings.RequireAllCommit.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="requireAllCommit" value="true" data-dtype="Boolean" {{checked requireAllCommit}}>
      </div>
      <p class="hint">{{localize "AOV_SKJALDBORG.Settings.RequireAllCommit.Hint"}}</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize "AOV_SKJALDBORG.Settings.CombatTrackingMenu.Movement.Name"}}</legend>
    <p class="hint">{{localize "AOV_SKJALDBORG.Settings.CombatTrackingMenu.Movement.Hint"}}</p>

    <div class="form-group">
      <label>{{localize "AOV_SKJALDBORG.Settings.MovementRounding.Name"}}</label>
      <div class="form-fields">
        <select name="movementRounding">
          {{#each roundingChoices}}
            <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
          {{/each}}
        </select>
      </div>
      <p class="hint">{{localize "AOV_SKJALDBORG.Settings.MovementRounding.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "AOV_SKJALDBORG.Settings.MovementTickDelay.Name"}}</label>
      <div class="form-fields">
        <input type="number" name="movementTickDelayMs" value="{{movementTickDelayMs}}" min="{{limits.movementTickDelayMs.min}}" max="{{limits.movementTickDelayMs.max}}" step="{{limits.movementTickDelayMs.step}}" data-dtype="Number">
      </div>
      <p class="hint">{{localize "AOV_SKJALDBORG.Settings.MovementTickDelay.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "AOV_SKJALDBORG.Settings.MovementPlanVisibility.Name"}}</label>
      <div class="form-fields">
        <select name="movementPlanVisibility">
          {{#each movementPlanVisibilityChoices}}
            <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
          {{/each}}
        </select>
      </div>
      <p class="hint">{{localize "AOV_SKJALDBORG.Settings.MovementPlanVisibility.Hint"}}</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize "AOV_SKJALDBORG.Settings.CombatTrackingMenu.Visuals.Name"}}</legend>
    <p class="hint">{{localize "AOV_SKJALDBORG.Settings.CombatTrackingMenu.Visuals.Hint"}}</p>

    <div class="form-group">
      <label>{{localize "AOV_SKJALDBORG.Settings.EngagementVisualMode.Name"}}</label>
      <div class="form-fields">
        <select name="engagementVisualMode">
          {{#each engagementVisualModeChoices}}
            <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
          {{/each}}
        </select>
      </div>
      <p class="hint">{{localize "AOV_SKJALDBORG.Settings.EngagementVisualMode.Hint"}}</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize "AOV_SKJALDBORG.Settings.CombatTrackingMenu.Automation.Name"}}</legend>
    <p class="hint">{{localize "AOV_SKJALDBORG.Settings.CombatTrackingMenu.Automation.Hint"}}</p>

    <div class="form-group">
      <label>{{localize "AOV_SKJALDBORG.Settings.EvadeFightingDefensively.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="evadeFightingDefensively" value="true" data-dtype="Boolean" {{checked evadeFightingDefensively}}>
      </div>
      <p class="hint">{{localize "AOV_SKJALDBORG.Settings.EvadeFightingDefensively.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "AOV_SKJALDBORG.Settings.AutoIncrementReactions.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="autoIncrementReactions" value="true" data-dtype="Boolean" {{checked autoIncrementReactions}}>
      </div>
      <p class="hint">{{localize "AOV_SKJALDBORG.Settings.AutoIncrementReactions.Hint"}}</p>
    </div>

    <div class="form-group skj-rolltable-drop-setting" data-skj-rolltable-drop>
      <label>{{localize "AOV_SKJALDBORG.Settings.KnockbackFumbleTable.Name"}}</label>
      <div class="form-fields">
        <input type="text" name="knockbackFumbleTableReference" value="{{knockbackFumbleTableReference}}" placeholder="{{localize "AOV_SKJALDBORG.Settings.KnockbackFumbleTable.DropHint"}}" data-dtype="String">
      </div>
      <p class="hint skj-rolltable-drop-setting__drop"><i class="fa-solid fa-table-list"></i> {{localize "AOV_SKJALDBORG.Settings.KnockbackFumbleTable.DropHint"}}</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize "AOV_SKJALDBORG.Settings.CombatTrackingMenu.ReachVisualizer.Name"}}</legend>
    <p class="hint">{{localize "AOV_SKJALDBORG.Settings.CombatTrackingMenu.ReachVisualizer.Hint"}}</p>
    <button type="button" data-action="reachVisualizer">
      <i class="fa-solid fa-bullseye"></i>
      <span>{{localize "AOV_SKJALDBORG.Settings.ReachVisualizerMenu.Label"}}</span>
    </button>
  </fieldset>

</div>
