<div class="skj-movement-debug-settings-form">
  <fieldset>
    <legend>{{localize "AOV_SKJALDBORG.Settings.MovementDebugMenu.General.Name"}}</legend>
    <p class="hint">{{localize "AOV_SKJALDBORG.Settings.MovementDebugMenu.General.Hint"}}</p>

    <div class="form-group">
      <label>{{localize "AOV_SKJALDBORG.Settings.MovementDebugMenu.Enabled.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="enabled" value="true" data-dtype="Boolean" {{checked enabled}}>
      </div>
      <p class="hint">{{localize "AOV_SKJALDBORG.Settings.MovementDebugMenu.Enabled.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "AOV_SKJALDBORG.Settings.MovementDebugMenu.Level.Name"}}</label>
      <div class="form-fields">
        <select name="level">
          {{#each levels}}
            <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
          {{/each}}
        </select>
      </div>
      <p class="hint">{{localize "AOV_SKJALDBORG.Settings.MovementDebugMenu.Level.Hint"}}</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize "AOV_SKJALDBORG.Settings.MovementDebugMenu.Categories.Name"}}</legend>
    <p class="hint">{{localize "AOV_SKJALDBORG.Settings.MovementDebugMenu.Categories.Hint"}}</p>

    {{#each categories}}
      <div class="form-group">
        <label>{{label}}</label>
        <div class="form-fields">
          <input type="checkbox" name="categories.{{value}}" value="true" data-dtype="Boolean" {{checked checked}}>
        </div>
        <p class="hint">{{hint}}</p>
      </div>
    {{/each}}
  </fieldset>
</div>
