<article class="aov-skjaldborg-chat">
  <h3>{{reportTitle}}</h3>

  {{#if combatants.length}}
    <table class="skj-chat-dex-table">
      <colgroup>
        <col class="skj-col-combatant">
        <col class="skj-col-compact">
        <col class="skj-col-dex-change">
        <col class="skj-col-compact">
      </colgroup>
      <thead>
        <tr>
          <th>{{localize "AOV_SKJALDBORG.Chat.Combatant"}}</th>
          <th>{{localize "AOV_SKJALDBORG.Chat.BaseDex"}}</th>
          <th>{{localize "AOV_SKJALDBORG.Chat.DexChanges"}}</th>
          <th>{{localize "AOV_SKJALDBORG.Chat.FinalDex"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each combatants}}
          <tr>
            <td class="skj-chat-combatant-cell"><span class="skj-chat-combatant-name" data-tooltip="{{actorName}}" aria-label="{{actorName}}">{{actorName}}</span></td>
            <td class="skj-chat-number" data-tooltip="{{baseDexTooltip}}">{{baseDex}}</td>
            <td class="skj-chat-number skj-chat-dex-change" data-tooltip="{{modifierTooltip}}"><strong>{{modifierTotal}}</strong></td>
            <td class="skj-chat-number" data-tooltip="{{finalDexTooltip}}">{{finalDex}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p class="skj-muted">{{localize "AOV_SKJALDBORG.Chat.NoCombatants"}}</p>
  {{/if}}
</article>
